.btn
    width: 100%
    border-radius: 7px
    text-align: center
    padding: 8px 5px
    transition: all .23s ease

.btn-outline
    width: 100%
    border-radius: 7px
    text-align: center
    background: transparent
    border: 1px solid transparent
    padding: 8px 5px
    transition: all .23s ease

.danger
    background: #f70f22
    border: 2px solid transparent
    &:hover
        background: transparent
        border: 2px solid #f70f22
.success
    background: #05fc43
    border: 2px solid transparent
    &:hover
        background: transparent
        border: 2px solid #05fc43
.warning
    background: #fcf119
    border: 2px solid transparent
    &:hover
        background: transparent
        border: 2px solid #fcf119

.danger-outline
    border: 1px solid #f70f22
    &:hover
        background: #f70f22

.success-outline
    border: 1px solid #05fc43
    &:hover
        background: #05fc43

.warning-outline
    border: 1px solid #fcf119
    &:hover
        background: #fcf119

.mob-btns
    display: none