aside
    background: $primary-color
    width: 18%
    height: auto
    position: relative


    nav
        margin-top: 3rem
        h3
            font-family: $ff-lato
            font-size: 16px
            color: $white
            margin-left: 15px
            margin-bottom: 18px


        .nav-item
            margin-bottom: 8px
            padding: 8px 15px
            margin-left: 20px

            a
                cursor: pointer
                display: flex
                text-decoration: none
                color: $white
                font-family: $ff-nunito
                svg
                    width: 25px

                span
                    font-size: 18px
                    margin-left: 8px

                svg.arrow
                    margin-left: auto
                    margin-right: 15px
                    width: 18px
            
                svg.arrow.rotate
                    transform: rotate(90deg)
                    


            .drop-items
                display: none
                width: auto
                margin-top: .8rem
                margin-left: 2.5rem
                ul
                    list-style: none
                    li
                        margin-bottom: 10px
                        cursor: pointer
        // .drop-parent
        //     & > a
        //         pointer-events: none
        .nav-item.active
            background: $white-lilac
            position: relative
            border-radius: 15px
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            a
                color: $primary-color
                font-weight: 700
            
        .nav-item.active:before
            position: absolute
            content: ''
            height: 30px
            width: 30px
            right: 0
            bottom: 100%
            border-bottom-right-radius: 15px
            box-shadow: 0 17px 0 $white-lilac

        .nav-item.active:after
            position: absolute
            content: ''
            height: 30px
            width: 30px
            right: 0
            top: 100%
            border-top-right-radius: 15px
            box-shadow: 0 -17px 0 $white-lilac   

        .hamber
            width: 40px
            height: 40px
            background: $white-lilac
            padding: 8px
            border-radius: 50%
            position: absolute
            right: -15px
            top: 15px
            border: 2px solid $primary-color
            cursor: pointer
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px

            svg
                color: $primary-color
            svg.hidden
                display: none

// After Slide in
aside.pop-in
    width: 5%

    nav
        margin-top: 5rem
        h3
            display: none

        .nav-item
            a
                svg
                    z-index: 1
                span
                    display: none

                svg.arrow
                    display: none 

        .hamber
            svg#ns-left
                transform: rotate(180deg)
            .drop-items
                display: none

// Animation for NavSlider;
@keyframes popIn
    0%
        width: 18%
    100%
        width: 5%

@keyframes arrowRight
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(180deg)

@keyframes arrowLeft
    0%
        transform: rotate(180deg)

    100%
        transform: rotate(0deg)

@keyframes popOut
    0%
        width: 5%
    100%
        width: 18%

