// Global Variables;

// Colors; 

$primary-color: hsl(203, 100%, 45%)
$secondary-color: hsl(203, 100%, 50%)   
//$secondary-color: hsl(255, 100%, 86%)
$third-color: hsl(275, 100%, 89%)
$add-dark-color: hsl(233, 100%, 86%)
$add-light-color: hsl(300, 100%, 92%)

$black: hsl(0, 0%, 0%)
$white: hsl(0, 0%, 100%)

// Fonts;
$ff-mulish: 'Mulish', sans-serif
$ff-noto: 'Noto Serif', serif
$ff-rubik: 'Rubik', sans-serif
 
// Font Sizes; 