// Global Variables;

// Colors; 

$primary-color: #7D26EA
$secondary-color: #6238E2
$white-lilac: hsl(0, 0%, 98%)//lighten(#EDEBF7, 5%)

$text-black: hsl(0, 0%, 55%)
$black: #000
$white: #fff
$grey: #d4d3cf
// Fonts;

$ff-lato: 'Lato', sans-serif
$ff-nunito: 'Nunito', sans-serif
$ff-roboto: 'Roboto Slab', serif
 
// Font Sizes;